openapi: 3.0.0
info:
  title: Email Service API
  description: API for sending templated emails via AWS SES.
  version: 1.0.0
servers:
  - url: https://api.cohub.click/v1
    description: Development server
  - url: https://api.talvio.co/v1
    description: Production server
paths:
  /send-email:
    post:
      summary: Send templated emails
      operationId: sendEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - to
                - template
                - templateData
              properties:
                to:
                  type: array
                  items:
                    type: string
                    format: email
                  description: List of recipient email addresses
                template:
                  type: string
                  enum: [magic_link, welcome]
                  description: Email template to use
                templateData:
                  type: object
                  additionalProperties:
                    type: string
                  description: Key-value pairs for template variables
      responses:
        '200':
          description: Emails sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid request
        '500':
          description: Internal server error
